* {
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(135deg, #153e56, #0e6f8d, #370869);
  height: 100%;
}
logo{
  width: 7vmax;
}
h1 {
  margin: 2rem;
  color: rgb(20, 0, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
.images {
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s ease-in-out;
}
img {
  height: 23vmin;
  width: 12vmax;
  padding: 1rem;
  pointer-events: none;
}
button {
  padding: 1rem;
  cursor: pointer;
  margin: 0 1%;
  border-radius: 50%;
  border: solid #35053d 3px;
  align-content: center;
}
.b1 {
  background: radial-gradient(#16425b, #81c3d7, #530f9c);
  display: flex;
  justify-content: center;
  align-items: center;
}
.b2 {
  background: radial-gradient(#16425b, #81c3d7, #530f9c);
  display: flex;
  justify-content: center;
  align-items: center;
}
.b3 {
  background: radial-gradient(#16425b, #81c3d7, #530f9c);
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  margin: 2rem;
  font-size: 1.5rem;
  color: #35053d;
  gap: 20vmin;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  width: auto;
  padding: 0.5rem;
  height: auto;
  background: rgba(255, 255, 255, 0.2); /* transparent */
  backdrop-filter: blur(10px); /* blur behind */
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 2vmin rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
p:hover,
.images :hover {
  transform: translate(0px, -2px);
  box-shadow: 0 0 5vmin rgba(255, 255, 255, 0.5);
}
